.offer{
  background-color: #131419;
}
.icon{
 width: 50px;
}
     body{
  background-color: #131419;
  color: blue;
  }
 .action{
    border: 10px inset steelblue; font-size: 10px;
 }
 #sign{
       border: 10px inset steelblue; font-size: 10px;
 }
      
      #main{
        text-align: center; 
        
      }
      
      color :  Font-size: 30px; text-align: center;
    } 
 h1{
   Font-size: 40px;   text-align: center; 
      background-color: white;
      }
      .socialmedia
          {
           color: blue; text-align: center; font-size: 33px;
           }
           .media{
             text-align: center; Font-size: 32px; color: blue;
           }
          
             
          .contact{
            background-color: ; text-align: left;
          }
          ul{
            background-color: white;
          }
       .sec-btn  {
    color: #131419;
    margin-top: 20px;
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    background-color: #131419;
     }
     
    .sec-btn{
    margin-top: 20px;
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}